.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.content{
  background: radial-gradient(99.58% 264.01% at 2% 3.87%, #8F4791 0%, #D9659C 36.65%, #F7A050 75.64%, #FAA051 88.02%, #CF642D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  padding: 90px 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
